<h1>Products</h1>

<div class="card">
  <div class="card-head">Lorem ipsum - product 1</div>
  <div class="card-body">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt molestias
    deleniti tempora atque perferendis perspiciatis alias omnis ad. Quidem
    voluptates omnis reprehenderit beatae ipsa voluptate, laudantium quis non
    alias distinctio.
  </div>
</div>

<div class="card">
  <div class="card-head">Lorem ipsum - product 2</div>
  <div class="card-body">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt molestias
    deleniti tempora atque perferendis perspiciatis alias omnis ad. Quidem
    voluptates omnis reprehenderit beatae ipsa voluptate, laudantium quis non
    alias distinctio.
  </div>
</div>
